@font-face {
    font-family: "Work Sans";
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
    font-weight: 1 999;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 1 999;
}

body {
    background-color: #f3fbfe;
}

img {
    max-width: 100%;
    height: auto;
}

b {
    font-size: 25px;
    color: #323E44;
}

a {
    color: #f28c65;
}

a:hover,
a:focus {
    color: #ec571e;
}


/* Navigation bar */

.navbar-title {
    font-family: "Raleway";
    height: 75px;
    color: black;
    font-weight: 600;
    font-size: 32px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-right: 150px;
}

.navbar-title-link {
    text-decoration: none !important;
}

.navbar-social-media {
    position: absolute;
    left: 81.5vw;
    bottom: 50px;
}

.navbar-toggle {
    height: 75px;
    position: relative;
    float: right;
    padding: 15px;
    background-color: transparent;
    border: none;
    margin: 0px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

i.fas.fa-bars {
    font-size: 20px;
    color: black;
}

.navbar.navbar-inverse.navbar-static-top {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 15px;
    font-weight: 500;
    padding-right: 15px;
    padding-left: 15px;
    text-transform: uppercase;
    color: black;
    letter-spacing: .2px;
    text-align: center;
    top: 15px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #428BCA;
    background-color: transparent;
}

.navbar {
    border: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: transparent;
    background-color: transparent;
    margin-left: 30vw;
}

.navbar-wrapper {
    background-color: transparent;
    font-family: "Work Sans";
    height: 90px;
    position: absolute;
    top: 20px;
    right: 0px;
    left: 0px;
    z-index: 20;
    transition: top .8s;
}

.navbar-wrapper .navbar {
    background: transparent;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 4px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}


/* Home Page */

#about {
    margin-top: 200px;
    margin-bottom: 100px;
}

.home-header {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 28px;
    color: #323E44;
    margin-left: 24px;
    margin-bottom: 50px;
}

.home-desc {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 20px;
    color: #155B82;
    margin-left: 24px;
    margin-bottom: 50px;
}

.home-photo {
    width: 500px;
    margin-left: 20px;
    height: 300px;
    margin-bottom: 80px;
}

.home-photo-left {
    float: left;
    margin-right: 80px;
}

.home-photo-right {
    float: right;
}


/* About Page */

.about-header {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 28px;
    color: #323E44;
    margin-left: 24px;
    margin-bottom: 50px;
}

.about-photo {
    width: 500px;
    margin-left: 20px;
    height: 616px;
    margin-bottom: 80px;
    margin-right: 40px;
}

.about-desc {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 20px;
    color: #155B82;
    margin-left: 24px;
    margin-bottom: 50px;
    overflow-wrap: anywhere;
}


/* Personal Projects Page & Other Projects Page*/

.project-header {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 28px;
    color: #323E44;
    margin-left: 24px;
    margin-bottom: 50px;
}

.project-image {
    width: 500px;
    margin-left: 20px;
    height: 300px;
    margin-bottom: 80px;
    margin-right: 40px;
}

.project-image-right {
    margin-left: 30px;
    margin-right: 30px;
}

.project-name {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 25px;
    color: #323E44;
    margin-left: 24px;
    margin-bottom: 30px;
}

.project-desc {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 20px;
    color: #155B82;
    margin-left: 24px;
    margin-bottom: 50px;
    overflow-wrap: anywhere;
}

.project-name-left,
.project-desc-left {
    margin-left: 20px;
}

.demo-vid {
    margin-left: 20px;
}

.sudoku-image {
    margin-right: 200px;
}