@font-face {
    font-family: "Work Sans";
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
    font-weight: 1 999;
}

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 1 999;
}

body {
    color: #5a5a5a;
    background-color: #f3fbfe;
}

img {
    max-width: 100%;
    height: auto;
}

b {
    font-weight: 700;
}


/* Navigation bar */

.navbar-title {
    font-family: "Raleway";
    height: 75px;
    color: #1b578a;
    font-weight: 600;
    font-size: 32px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-right: 150px;
}

.navbar-title-link {
    text-decoration: none !important;
}

.navbar-social-media {
    position: absolute;
    left: 81vw;
    bottom: 50px;
    z-index: 2;
}

.navbar-social-media>a {
    font-size: 17px;
    padding: 10px;
    text-decoration: none !important;
    color: black;
}

.navbar-toggle {
    height: 75px;
    position: relative;
    float: right;
    padding: 15px;
    background-color: transparent;
    border: none;
    margin: 0px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

i.fas.fa-bars {
    font-size: 20px;
}

.navbar.navbar-inverse.navbar-static-top {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #428BCA;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 14px;
    font-weight: 500;
    padding-right: 15px;
    padding-left: 15px;
    text-transform: uppercase;
    color: black;
    letter-spacing: .2px;
    text-align: center;
    top: 15px;
}

.navbar {
    border: transparent;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: white;
    color: #428BCA;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border: transparent;
    background-color: transparent;
    margin-left: 20vw;
    position: relative;
    z-index: 1;
}

.navbar-wrapper {
    background-color: transparent;
    font-family: "Work Sans";
    height: 90px;
    position: absolute;
    top: 20px;
    right: 0px;
    left: 0px;
    z-index: 20;
    transition: top .8s;
}

.navbar-wrapper .navbar {
    background: transparent;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 4px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}


/* Home page */

.site-overlay {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    min-height: 700px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.welcome-screen {
    height: 100vh;
    min-height: 700px;
    background-size: cover;
}

.welcome-text {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    color: white;
    position: absolute;
    top: 520px;
    width: 390px;
    left: 180px;
}

.aos-init>a {
    text-decoration: none;
    color: white;
}

.aos-init>a:hover {
    text-decoration: none;
    color: white;
}

.scroll-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.scroll-down>span {
    position: relative;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 13px;
    display: block;
    margin-top: 5px;
}

#about-us {
    margin-top: 75px;
    margin-bottom: 50px;
}

.about-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #1b578a;
    text-align: center;
}

.about-body {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #5D727E;
    text-align: center;
    margin-left: 290px;
    margin-right: 290px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.desc-container {
    display: flex;
}

.group-photo {
    float: left;
    width: 40%;
    margin-left: 80px;
}

.text-container {
    float: right;
}

.aacf-desc,
.vision-body,
.mission-body {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 7%;
    line-height: 22.4px;
    color: black;
    margin-left: 75px;
    margin-right: 105px;
    margin-bottom: 25px;
}

.aacf-desc {
    margin-top: 35px;
}

.theme-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    color: #155B82;
    margin-top: 40px;
    text-align: center;
}

.theme-verse {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    color: #5D727E;
    text-align: center;
}

.theme-verse-source {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    color: #5D727E;
    text-align: center;
}


/* Events page */

#weekly-schedule {
    margin-top: 90px;
}

.event-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #1b578a;
    text-align: center;
    margin-top: 80px;
}

.event-general-desc {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #5D727E;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 50px;
}

#calendar {
    margin-top: 30px;
    width: 90%;
    margin: auto;
}

.fc {
    font-size: 0.9em !important;
}

.fc-toolbar-title {
    font-family: helvetica neue;
    font-size: 1.5em !important;
}

.fc-toolbar-chunk {
    font-family: helvetica neue;
}

.fc-day-grid-event>.fc-content {
    white-space: normal !important;
    overflow: hidden;
}

#event-descriptions {
    margin-top: 100px;
}

.event {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.event-info {
    float: left;
    width: 40%;
    margin-left: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

.event-title {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #307BA6;
}

.event-desc {
    margin-top: 0px !important;
}

.event-info>p {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
    color: #5F687B;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: normal;
}

.event-image {
    float: right;
    width: 450px;
    height: auto;
    margin: auto;
    padding: 3px;
}


/* Small Groups page*/

#small-group {
    margin-top: 90px;
}

.small-group-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #1b578a;
    text-align: center;
    margin-top: 80px;
}

.small-group-desc {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #5D727E;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 75px;
}

.small-group {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.sg-info {
    float: left;
    width: 40%;
    margin-left: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

.sg-title {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #307BA6;
}

.sg-focus {
    margin-top: 0px !important;
}

.sg-details,
.sg-focus {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
    color: #5F687B;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: normal;
}

.sg-image {
    float: right;
    width: 450px;
    height: auto;
    margin: auto;
    padding: 3px;
}


/* Churches page */

#church-rides {
    margin-top: 90px;
}

.church-rides-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #1b578a;
    text-align: center;
    margin-top: 80px;
}

.church-rides-desc {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #5D727E;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 75px;
}

#churches {
    margin-bottom: 100px;
}

.church-tab-title {
    font-family: "Work Sans";
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: .02em;
    font-weight: 500;
}

.church-title {
    font-family: "Work Sans";
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: .02em;
    color: black;
    margin-top: 20px;
}

.church-details {
    font-family: "Work Sans";
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: .02em;
    font-weight: 300;
    color: black;
    margin-top: 20px;
}


/* Photos page */

#photos {
    margin-top: 90px;
    margin-bottom: 100px;
}

.photos-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #1b578a;
    text-align: center;
    margin-top: 80px;
}

.photos-header-desc {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #5D727E;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 75px;
}

.album-header {
    font-family: "Work Sans";
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.galleria {
    height: 400px;
    width: 500px;
}


/* Contacts page */

#contacts {
    margin-top: 90px;
}

.contacts-header {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #1b578a;
    text-align: center;
    margin-top: 80px;
}

.contacts-desc {
    font-family: "Raleway";
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #5D727E;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 75px;
}

.core-team-header,
.sg-leaders-header {
    font-family: "Work Sans";
    font-size: 24px;
    margin-bottom: 40px;
    color: black;
    font-weight: 500;
}

.sg-leaders-header {
    margin-top: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
}

.column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
    display: flex;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.leaders-details {
    padding: 0 16px;
}

.leaders-img {
    width: 100%;
}

.leaders-details::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.leaders-name {
    font-family: "Work Sans";
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .02em;
    font-weight: 500;
    color: black;
}

.leaders-position,
.leaders-info,
.leaders-contact {
    font-family: "Work Sans";
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: .02em;
    font-weight: 300;
    color: grey;
}

.leaders-info,
.leaders-contact {
    color: black;
}

#sg-leaders {
    margin-bottom: 100px;
}


/* For 1440px laptop display */

@media screen and (max-width: 1440px) {
    /* Navbar */
    .navbar-social-media {
        left: 82.5vw;
    }
}


/* For 1024px laptop display */

@media screen and (max-width: 1024px) {
    /* Navbar */
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        margin-left: 50px;
    }
    .navbar-social-media {
        left: 84vw;
    }
    /* Home page */
    .welcome-screen {
        background-position-y: 0px;
    }
    .welcome-text {
        top: 480px;
    }
    .about-body {
        margin-left: 200px;
        margin-right: 200px;
    }
    .aacf-desc,
    .vision-body,
    .mission-body {
        font-size: 12px;
        margin-bottom: 10px;
        margin-right: 45px;
        margin-left: 43px;
    }
    .aacf-desc {
        margin-top: 15px;
    }
    /* Event page */
    .event-general-desc {
        margin-left: 50px;
        margin-right: 50px;
    }
    .event-image {
        width: 360px;
    }
    /* Small Group page */
    .small-group-desc {
        margin-left: 50px;
        margin-right: 50px;
    }
    .sg-image {
        width: 360px;
    }
    /* Churches page */
    .church-rides-desc {
        margin-left: 50px;
        margin-right: 50px;
    }
    /* Photos page */
    .photos-header-desc {
        margin-left: 50px;
        margin-right: 50px;
    }
    /* Contact page */
    .contacts-desc {
        margin-left: 50px;
        margin-right: 50px;
    }
}


/* For 768px tablet display */

@media screen and (max-width: 768px) {
    /* Navbar */
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        margin-left: 0px;
    }
    .navbar-title {
        font-size: 30px;
        margin-right: 0px;
        position: relative;
        right: 20px;
        margin-top: 38px;
    }
    .navbar-inverse .navbar-nav>li>a {
        font-size: 13px;
    }
    .navbar-social-media {
        left: 80vw;
    }
    /* Home page */
    .welcome-screen {
        background-position-x: -150px;
    }
    .welcome-text {
        left: 60px;
        top: 450px;
    }
    .about-body {
        margin-left: 50px;
        margin-right: 50px;
    }
    .group-photo {
        margin-left: 40px;
    }
    .aacf-desc,
    .vision-body,
    .mission-body {
        font-size: 10px;
        margin-right: 25px;
        margin-left: 23px;
    }
    /* Event page */
    .event-general-desc {
        margin-left: 20px;
        margin-right: 20px;
    }
    .event-info {
        margin-left: 40px;
    }
    .event-image {
        width: 320px;
    }
    /* Small Group page */
    .small-group-desc {
        margin-left: 20px;
        margin-right: 20px;
    }
    .sg-info {
        margin-left: 40px;
    }
    .sg-image {
        width: 320px;
    }
    /* Churches page */
    .church-rides-desc {
        margin-left: 20px;
        margin-right: 20px;
    }
    /* Photos page */
    .photos-header-desc {
        margin-left: 20px;
        margin-right: 20px;
    }
    /* Contacts page */
    .column {
        width: 33%;
    }
}


/* For 425px large mobile phone display */

@media screen and (max-width: 426px) {
    /* Navigation bar */
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        background-color: #f3fbfe;
        bottom: 40px;
        height: 270px;
    }
    .navbar.navbar-inverse.navbar-static-top {
        display: block;
    }
    .navbar-social-media {
        left: 68vw;
        top: -10px;
    }
    .navbar-title {
        margin-top: 0px;
        right: -10px;
        font-size: 24px;
        float: left;
        top: -3px;
    }
    .navbar-toggle {
        top: 0px;
    }
    /* Home page */
    .welcome-screen {
        background-position-x: -400px;
    }
    .welcome-text {
        left: 30px;
        font-size: 22px;
        width: 200px;
    }
    .about-header {
        font-size: 22px;
    }
    .about-body {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .group-photo {
        overflow: hidden;
        visibility: hidden;
        margin-left: 0px;
    }
    .aacf-desc,
    .vision-body,
    .mission-body {
        font-size: 11px;
        margin-left: 0px;
    }
    .theme-header {
        font-size: 22px;
    }
    .theme-verse,
    .theme-verse-source {
        font-size: 12px;
    }
    /* Events page */
    .event-header {
        font-size: 22px;
        margin-top: 30px;
    }
    .event-general-desc {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #event-descriptions {
        margin-top: 30px;
    }
    .event {
        margin-bottom: 0px;
    }
    .event-info {
        margin-left: 20px;
    }
    .event-title {
        font-size: 14px;
    }
    .event-desc,
    .event-info>p {
        font-size: 10px;
    }
    .event-image {
        width: 180px;
        margin-left: 20px;
    }
    /* Small Groups page*/
    .small-group-header {
        font-size: 22px;
        margin-top: 30px;
    }
    .small-group-desc {
        font-size: 12px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .small-group {
        margin-bottom: 0px;
    }
    .sg-info {
        margin-left: 20px;
    }
    .sg-title {
        font-size: 14px;
    }
    .sg-focus,
    .sg-details {
        font-size: 10px;
    }
    .sg-image {
        width: 200px;
        margin-left: 20px;
    }
    /* Churches page */
    .church-rides-header {
        font-size: 22px;
        margin-top: 30px;
    }
    .church-rides-desc {
        font-size: 12px;
        margin-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #churches {
        margin-bottom: 20px;
    }
    .church-title {
        font-size: 14px;
    }
    .church-details {
        font-size: 13px;
    }
    /* Photos page */
    .photos-header {
        font-size: 22px;
        margin-top: 30px;
    }
    .photos-header-desc {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #photos {
        margin-bottom: 20px;
    }
    .album-header {
        font-size: 16px;
    }
    .galleria {
        height: 300px;
        width: 375px;
    }
    /* Contacts page */
    .contacts-header {
        font-size: 22px;
        margin-top: 30px;
    }
    .contacts-desc {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    #sg-leaders {
        margin-bottom: 20px;
    }
    .core-team-header,
    .sg-leaders-header {
        font-size: 20px;
    }
    .leaders-name {
        font-size: 16px;
    }
    .leaders-position,
    .leaders-info,
    .leaders-contact {
        font-size: 14px;
    }
    .column {
        width: 48%;
    }
}


/* For 375px medium mobile phone display */

@media screen and (max-width: 376px) {
    /* Navbar */
    .navbar-social-media {
        left: 64vw;
    }
    /* Home page */
    .welcome-screen {
        background-position-x: -500px;
    }
    .welcome-text {
        top: 350px;
    }
    /* Small Groups page*/
    .sg-info {
        margin-left: 10px;
    }
    /* Photos page */
    .galleria {
        height: 275px;
        width: 343.75px;
    }
}


/* For 320px small mobile phone display */

@media screen and (max-width: 320px) {
    /* Navbar */
    .navbar-social-media {
        left: 58vw;
    }
    /* Home page */
    .welcome-screen {
        background-position-x: -510px;
    }
    /* Events page */
    .fc-toolbar-chunk {
        font-size: 10px;
    }
    /* Photos page */
    .galleria {
        height: 240px;
        width: 300px;
    }
}