/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}


/* Navbar */

.navbar-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 20px;
}

.navbar-wrapper>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar {
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 4px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}


/* Home Page Carousal */

.carousel {
    height: 800px;
    display: table;
    margin: auto;
    margin-bottom: 50px;
}

.carousel-caption {
    z-index: 10;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

.carousel .item {
    height: 800px;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control {
    height: 780px;
}


/* Schedule Images */

.event {
    display: flex;
    width: 100%;
}

.eventinfo {
    float: left;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    clear: left;
}

img {
    max-width: 100%;
    height: auto;
}

.scheduleimg {
    float: right;
    height: 300px;
    width: 400px;
    height: auto;
    margin: 3px;
    padding: 3px;
}


/* Photo Galleries */

.galleria {
    height: 757px
}